[Desktop Entry]
Encoding=UTF-8
Name=Link to 4407_QUIZ2-SOLUTIONS.pdf
Type=Link
URL=http://www.cs.ucc.ie/~gprovan/CS4407/2014/4407_QUIZ2-SOLUTIONS.pdf
Icon=application-pdf
Name[en_IE]=unknown-quiz2-solutions.pdf
